.layout {
  height: 100vh;
  min-height: 500px;
  overflow-y: auto;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  // &:after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   z-index: 2;
  //   background-color: rgba(0, 0, 0, 0.09);
  // }
}

.content {
  position: relative;
  z-index: 3;
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  // padding: 15px;
  // background-color: rgba(255, 255, 255, 0.4);
  // backdrop-filter: blur(4px);
  // box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.3);
}
