.layout {
  height: 100vh;
  min-height: 500px;
  overflow-y: auto;
  // background-image: url("../img/bg.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  position: relative;
}

.content {
  position: relative;
  z-index: 3;
  width: 1080px;
  height: 100%;
  margin: 0 auto;
}
